@supports (scrollbar-gutter: stable) {
    html {
        overflow-y: auto;
        scrollbar-gutter: stable;
    }
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
}

.banner-img {
    height: 100%;
    width: 100%
}

@keyframes gradientBG {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.app-content {
    text-align: center;
}

.nft-card {
    display: inline-block;
}

.error-container {
    background-color: lightcoral;
    padding: 16px;
}

/** Start HeaderSection */
.header-section {
    text-align: center;
    z-index: 1;
    position: relative;
}
.navbar {
    background-color: lightblue;
    border-bottom: 1px lightgray solid;
    box-shadow:  0 1px 5px lightgrey;
    height: 64px;
    position: fixed;
    width: 100%;
}
.hero-section {
    padding: 16px;
}
.hero-image-container {
    padding: 0 0 16px 0;
}
.hero-section-notes {
    display: inline-block;
    background-color: lightblue;
    padding: 4px 8px;
}
/** End HeaderSection */

/** Start EggCard */
.egg-card {
    width: 300px;
    box-shadow: 0 8px 16px rgba(5, 5, 5, 0.3);
    padding: 4px 16px;
    margin: 16px;
    border-radius: 8px;
}

.hatched-message-container {
    background-color: lightblue;
    border-radius: 16px;
    margin: 8px 0 0 0;
    padding: 8px 0;
    font-weight: 600;
}

.timer-container {
    background-color: lightblue;
    border-radius: 16px;
    margin: 8px 0 0 0;
    padding: 8px 0;
}

.egg-card-image {
    height: 200px;
    margin: 16px 0 0 0;
}

.egg-card-button {
    margin: 0 8px;
}
/** End EggCard */
